@charset "UTF-8";
/* CSS Document */

.icon1, .icon2, .icon3 { -webkit-font-smoothing: antialiased; -o-transform: scale(1); text-transform:none; z-index:10; font-weight:normal; }
.icon1 { font-family:Typicons; font-size:1.2em; line-height:1em; }
.icon2 { font-family:ModernPictogramsNormal; font-size:1.3em; line-height:1em; }
.icon3 { font-family:Typicons; transform:rotate(-90deg); -webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg); display:inline-block; }

.up05 { top:-0.05em; position:relative; }
.up10 { top:-0.1em; position:relative; }

.down20 { top:0.20em; position:relative; }
.down15 { top:0.15em; position:relative; }
.down10 { top:0.10em; position:relative; }
.down05 { top:0.05em; position:relative; }

@font-face {
    font-family: 'TYPOGRAPHPROExtraBold';
    src: url('fonts/typograph_pro_extra_bold-webfont.eot');
    src: url('fonts/typograph_pro_extra_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/typograph_pro_extra_bold-webfont.woff') format('woff'),
         url('fonts/typograph_pro_extra_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'TYPOGRAPHPROSemiBold';
    src: url('fonts/typograph_pro_semi_bold-webfont.eot');
    src: url('fonts/typograph_pro_semi_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/typograph_pro_semi_bold-webfont.woff') format('woff'),
         url('fonts/typograph_pro_semi_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TYPOGRAPHPROLight';
    src: url('fonts/typograph_pro_light-webfont.eot');
    src: url('fonts/typograph_pro_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/typograph_pro_light-webfont.woff') format('woff'),
         url('fonts/typograph_pro_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TypoSlabserif-LightRegular';
    src: url('fonts/typoslabserif-light-webfont.eot');
    src: url('fonts/typoslabserif-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/typoslabserif-light-webfont.woff') format('woff'),
         url('fonts/typoslabserif-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LiberationSansRegular';
    src: url('fonts/LiberationSans-Regular-webfont.eot');
    src: url('fonts/LiberationSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LiberationSans-Regular-webfont.woff') format('woff'),
         url('fonts/LiberationSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/LiberationSans-Regular-webfont.svg#LiberationSansRegular') format('svg');
    font-weight:normal;
    font-style: normal;

}

@font-face {
    font-family: 'LiberationSansItalic';
    src: url('fonts/LiberationSans-Italic-webfont.eot');
    src: url('fonts/LiberationSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LiberationSans-Italic-webfont.woff') format('woff'),
         url('fonts/LiberationSans-Italic-webfont.ttf') format('truetype'),
         url('fonts/LiberationSans-Italic-webfont.svg#LiberationSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LiberationSansBold';
    src: url('fonts/LiberationSans-Bold-webfont.eot');
    src: url('fonts/LiberationSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LiberationSans-Bold-webfont.woff') format('woff'),
         url('fonts/LiberationSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/LiberationSans-Bold-webfont.svg#LiberationSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LiberationSansBoldItalic';
    src: url('fonts/LiberationSans-BoldItalic-webfont.eot');
    src: url('fonts/LiberationSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LiberationSans-BoldItalic-webfont.woff') format('woff'),
         url('fonts/LiberationSans-BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/LiberationSans-BoldItalic-webfont.svg#LiberationSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'Typicons';
	src: url('fonts/typicons-regular-webfont.eot');
	src: url('fonts/typicons-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/typicons-regular-webfont.woff') format('woff'),
		url('fonts/typicons-regular-webfont.ttf') format('truetype'),
		url('fonts/typicons-regular-webfont.svg#TypiconsRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('fonts/modernpics-webfont.eot');
    src: url('fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/modernpics-webfont.woff') format('woff'),
         url('fonts/modernpics-webfont.ttf') format('truetype'),
         url('fonts/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CreteRoundItalic';
    src: url('fonts/CreteRound-Italic-webfont.eot');
    src: url('fonts/CreteRound-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CreteRound-Italic-webfont.woff') format('woff'),
         url('fonts/CreteRound-Italic-webfont.ttf') format('truetype'),
         url('fonts/CreteRound-Italic-webfont.svg#CreteRoundItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CreteRoundRegular';
    src: url('fonts/CreteRound-Regular-webfont.eot');
    src: url('fonts/CreteRound-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CreteRound-Regular-webfont.woff') format('woff'),
         url('fonts/CreteRound-Regular-webfont.ttf') format('truetype'),
         url('fonts/CreteRound-Regular-webfont.svg#CreteRoundRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}