/**
 * Layout SCSS Partial
 *
 * @requires framework/_type.scss
 */

.group {
	margin:0 auto;
	max-width:$layout-max-width-wide-suffix;
	width:93.75%;

}

.wrapper {
  overflow: hidden;
  width:100%;
  // padding-bottom:rem(110);
  flex:1;
}

main {
}