/**
 * Links SCSS Partial
 *
 * @requires framework/_colors.scss
 */


/* ==|== Links =================
	Primary
========================================== */

a {
	color:$color-link-primary;
	fill: $color-link-primary;
	transition:color .25s cubic-bezier(#{$bezier-nice}), fill .25s cubic-bezier(#{$bezier-nice});
	text-decoration: none;
	@include hover {
		color:$color-link-primary-hover;
		fill: $color-link-primary-hover;
	}
	@include active {
		color: $color-link-primary-active;
		fill: $color-link-primary-active;
	}
	.masthead & {
		@include active {
			color: $color-white;
			fill: $color-white;
		}
	}
}