/**
 * List SCSS Partial
 */

/* ==|== Lists =================
	1. Default
========================================== */

ul,
ol {
	@extend %paragraph;
	max-width:rem($layout-max-width + (25 * 2));
	list-style: circle outside none;
	padding:0 rem(25);
	& > li {
		max-width:$layout-max-width-suffix;
		& > ul {
			list-style:disc outside none;
			margin:0;
		}
		& > ol {
			list-style: lower-roman outside none;
			margin:0;
		}
	}
}
ol {
	list-style: decimal outside none;
}

/* ==|== Lists =================
  Inline
========================================== */

.list--inline {
  max-width: $layout-max-width-suffix;
  padding: 0;
  li {
    display: inline;
    & + li {
      &:before {
        color: $color-mid;
        content:' • ';
      }
    }
  }
}

/* ==|== Lists =================
  Accent
========================================== */

%list--accent {
  border: 0 solid $color-pale;
  border-width: rem(4) 0;
  padding: rem(10) 0;
  margin: rem(25) auto;
  max-width: rem($layout-max-width - 100);
}
.list--accent {
  @extend %list--accent;
  color: $color-dark;
  font-family: $font-stack-header;
  @include font-size(22);
  @include respond-to($bp-small) {
    @include font-size(20);
  }
  @include respond-to($bp-tiny) {
    @include font-size(18);
  }
  li {
    display: inline-block;
    line-height: 1.45;
    margin: rem(3) 0;
    width: 50%;
  }
}
