/**
 * Footer Scss Partial
 */

.footer {
  background: $color-pale;
  color: $color-mid;
  padding: rem(32) 0;
  .group {
    padding-right: rem(300);
    position: relative;
  }
  p,
  ul {
    @include font-size(16);
    margin: rem(3) auto;
    @include respond-to($bp-small) {
      @include font-size(15);
    }
    @include respond-to($bp-tiny) {
      @include font-size(14);
    }
  }
}
.footer__logo--bda {
  position: absolute;
  right: 0;
  top: calc(50% - #{rem(69)});
  width: rem(280);
}

}