/**
 * Nav Scss Partial
 */

.nav {
  background: rgba($color-dark, 0.3);
  margin-top: rem(25);
  text-align: left;
}
.nav__list {
  margin: 0 auto;
  max-width: rem($layout-max-width-wide + 40);
  padding: 0;
  width: 100%;
}
.nav__item {
  display: inline-block;
}
[class^="nav__link--"] {
  display: block;
  padding: rem(12) rem(20);
}