---
title: Page not found
description: That page cannot be found.
---

<h1>404</h1>
<p>That page cannot be found. Please be sure that you’ve got the correct URL or try and find the page again from <%= link_to "home", "index.html" %>.</p>