---
nav: home
description: Priory Park Dentalcare is a Private Dental Clinic which offers the very best quality dental care in a relaxed and friendly environment.
side_image: left
priority: 1.0
---

<p>Priory Park Dentalcare is a Private Dental Clinic which offers the very best quality dental care in a relaxed and friendly environment. The practice is well established and we are proud of the service that we offer our patients.</p>
<ul class="list--accent"><!--
  <% data.about.services.each do |offer| %>
    --><li><%= offer %></li><!--
  <% end %>
--></ul>
<h2>Opening times</h2>
<p>Monday &ndash; Friday, 9:00am &ndash; 5:00pm.</p>
<p>To make an appointment, please telephone <a href="tel:<%= data.contact.phone.number %>"><%= data.contact.phone.label %></a> or call in at the surgery.</p>